<h1>Fantasy Beehive</h1>

<h3>Here&#39;s how it works </h3>

<ol>
<li>Sign up your team </li>
<li>Create your player profile </li>
<li>Draft your fantasy team </li>
<li>Input your stats each week</li>
<li>Keep up with the standings for the fantasy team</li>
</ol>

